html, body, #root {
  height: 100%
}

.btn-space {
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 5px !important;
}

.title-margin {
    margin-bottom: 200px !important;
}

.home-page {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height:100%;
    border: 20px solid #424242;
    border-top: 0px;
    border-bottom: 0px;
}
