/* Reference: https://www.youtube.com/watch?v=WVOmmc0UTiM */

html, body, #root {
  height: 100%
}

.help-page {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height:100%;
    border: 100px solid #424242;
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.help-col {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
}

.help-sections {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.help-box-left {
    word-wrap: break-all;
    background-color: #B3F2FF;
    margin: 10px;
    flex: 1;
}

.help-box-right {
    word-wrap: break-all;
    background-color: #B3F2FF;
    margin: 10px;
    flex: 1;
}

.help-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.help-box-title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5c6164;
}

.help-box-paragraph{
    color: #3e3d41;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0px;
}

/* Reference: https://codepen.io/oridr22/pen/mOGddj */

.piece {
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: falling;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes falling{
    0% {top: -10vh;}   
    100% {top: 90vh;}   
}

.piece-1{
  background-color: lightblue;
  left: 1.4vw;
  animation-duration: 8s;
}

.piece-2{
  background-color: lightblue;
  right: 1.4vw;
  animation-duration: 8s;
}

.piece-3{
  background-color: rgb(235, 53, 53);
  left: 1.4vw;
  animation-duration: 10s;
}

.piece-4{
  background-color: rgb(235, 53, 53);
  right: 1.4vw;
  animation-duration: 10s;
}

.piece-5{
  background-color: rgb(53, 235, 77);
  left: 1.4vw;
  animation-duration: 12s;
}

.piece-6{
  background-color: rgb(53, 235, 77);
  right: 1.4vw;
  animation-duration: 12s;
}
