/* Reference for page layout: https://www.youtube.com/watch?v=WVOmmc0UTiM */

.game-box{
    word-wrap: break-all;
    background-color: #B3F2FF;
    margin: 10px;
    flex: 1;
}

.game-title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5c6164;
}

.game-sections {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.settings-vertical {
    word-wrap: break-all;
    background-color: #eceff1;
    margin: 10px;
    flex: 1;
}

.settings-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Reference for game start button: https://getcssscan.com/css-buttons-examples */

/* CSS */
.button-34 {
  background: #2e2eeb;
  border-radius: 999px;
  box-shadow: #2e2eeb 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
/* game start button end */