.player-box{
    word-wrap: break-all;
    background-color: #B3F2FF;
    margin: 10px;
    flex: 1;
}

.player-title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5c6164;
}

.players-content {
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.name-icon{
    flex-direction: row;
    display: flex;
}

.piece-container {
    padding: 20px;
    /* width:70%; */
    display: flex;
    background-color: black;
}

.player-piece{
    width: 20px;
    height: 20px;
    position: relative;
    background-color: rgb(206, 15, 15);
}

.player-list{
    overflow-y: scroll;
}

.player-info{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.player-name-button{
    justify-content: left;
    align-items: center;
    display:flex;
    flex-direction: row;
}