.player-title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5c6164;
}

.players-content {
    max-height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.name-icon{
    flex-direction: row;
    display: flex;
}

.piece-container {
    padding: 20px;
    /* width:70%; */
    display: flex;
    background-color: black;
}

.player-piece{
    width: 20px;
    height: 20px;
    position: relative;
    background-color: rgb(206, 15, 15);
}

.player-list{
    overflow-y: auto;
}

.player-info{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.player-name-button{
    justify-content: left;
    align-items: center;
    display:flex;
    flex-direction: row;
}