/* Reference: https://www.w3schools.com/howto/howto_css_round_buttons.asp */

html, body, #root {
  height: 100%
}

.room-page {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height:100%;
    border: 100px solid #424242;
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.help-button {
  background-color: #cdd0d1;
  border: none;
  color: black;
  padding: 30px;
  display: inline-block;
  margin: 4px 4px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.room-components {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
}

.room-sections {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.room-box-left {
    word-wrap: break-all;
    background-color: #cdd0d1;
    margin: 10px;
    flex: 1;
}

.room-box-right {
    word-wrap: break-all;
    background-color: #B3F2FF;
    margin: 10px;
    flex: 1;
}

.box-align {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
