/* Reference for page layout: https://www.youtube.com/watch?v=WVOmmc0UTiM */

html, body, #root {
  height: 100%
}

.room-page {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height:100%;
    border: 100px solid #424242;
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
}

/* Reference for help button: https://www.w3schools.com/howto/howto_css_round_buttons.asp */
.help-button {
  background-color: #eceff1;
  border: none;
  color: red;
  padding: 20px;
  display: inline-block;
  margin: 4px 4px;
  border-radius: 100%;
  outline: none;
}

.room-code{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: row;
}

.copy-button {
  background-color: #eceff1;
  border: none;
  color: black;
  margin: 10px;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 5%;
  outline: none;
}

.room-components {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
}

.room-sections-right {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex:3;
    width:100%;
}

.room-sections-left {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex:1;
    width:100%;
}

.room-box-left {
    background-color: #eceff1;
    margin: 10px;
    flex: 1;
}

.room-box-right {
    background-color: #B3F2FF;
    margin: 10px;
    flex: 1;
    display: flex;
}

/* Reference for falling pieces: https://codepen.io/oridr22/pen/mOGddj */
.piece {
  width: 60px;
  height: 60px;
  position: absolute;
  animation-name: falling;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes falling{
    0% {top: -10vh;}   
    100% {top: 90vh;}   
}

.piece-1{
  background-size:contain;
  background-image: url("image/T-Piece.png");
  left: 1.4vw;
  animation-duration: 10s;
}

.piece-2{
  background-size:contain;
  background-image: url("image/T-Piece.png");
  right: 1.4vw;
  animation-duration: 10s;
}

.piece-3{
  background-size:contain;
  background-image: url("image/S-Piece.png");
  left: 1.4vw;
  animation-duration: 12s;
}

.piece-4{
  background-size:contain;
  background-image: url("image/S-Piece.png");
  right: 1.4vw;
  animation-duration: 12s;
}

.piece-5{
  background-size:contain;
  background-image: url("image/J-Piece.png");
  left: 0.6vw;
  animation-duration: 14s;
}

.piece-6{
  background-size:contain;
  background-image: url("image/J-Piece.png");
  right: 1.8vw;
  animation-duration: 14s;
}

.piece-7{
  background-size:contain;
  background-image: url("image/O-Piece.png");
  right: 0.7vw;
  animation-duration: 16s;
}

.piece-8{
  background-size:contain;
  background-image: url("image/O-Piece.png");
  left: 2.0vw;
  animation-duration: 16s;
}

.piece-9{
  background-size:contain;
  background-image: url("image/L-Piece.png");
  right: 1.8vw;
  animation-duration: 18s;
}

.piece-10{
  background-size:contain;
  background-image: url("image/L-Piece.png");
  left: 0.6vw;
  animation-duration: 18s;
}
/* end of falling pieces */
