.player-title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5c6164;
}

.players-content {
    max-height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.name-icon{
    flex-direction: row;
    display: flex;
}

.player-list{
    overflow-y: auto;
}
    

