.player-info{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.player-name-button{
    justify-content: left;
    align-items: center;
    display:flex;
    flex-direction: row;
}

.piece-container {
    padding: 20px;
    flex-direction: row;
    display: flex;
    background-color: black;
}

.player-piece{
    width: 20px;
    height: 20px;
    position: relative;
}

.player-emergency{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    background-color: rgb(206, 15, 15);
    border-radius: 80%;
}