html, body, #root {
  height: 100%
}

.btn-space {
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 5px !important;
}

.title-margin {
    margin-bottom: 200px !important;
}

.home-page {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height:100%;
    border: 100px solid #424242;
    border-top: 0px;
    border-bottom: 0px;
}

/* Reference for falling pieces: https://codepen.io/oridr22/pen/mOGddj */
.piece {
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: falling;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes falling{
    0% {top: -10vh;}   
    100% {top: 90vh;}   
}

.piece-1{
  background-color: lightblue;
  left: 1.4vw;
  animation-duration: 8s;
}

.piece-2{
  background-color: lightblue;
  right: 1.4vw;
  animation-duration: 8s;
}

.piece-3{
  background-color: rgb(235, 53, 53);
  left: 1.4vw;
  animation-duration: 10s;
}

.piece-4{
  background-color: rgb(235, 53, 53);
  right: 1.4vw;
  animation-duration: 10s;
}

.piece-5{
  background-color: rgb(53, 235, 77);
  left: 1.4vw;
  animation-duration: 12s;
}

.piece-6{
  background-color: rgb(53, 235, 77);
  right: 1.4vw;
  animation-duration: 12s;
}

